* {
    font-family: "Times New Roman", serif;
}

h1,
h2,
h3 {
    background-color: rgb(248, 135, 135);
    text-align: center;
    color: white;
}

p {
    font-size: 18px;
    text-align: center;
}

.links-list li {
    background-color: rgb(248, 135, 135);
    color: white;
    text-align: center;
}

